h2 {
    text-align: center;
}

mat-dialog-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    margin-top: 1rem;
    width: 100%;
}